// Colores
$colorFondoCeleste: #9BC1BC;
$colorAzulFuerte: #111D4A;
$colorAzulSuave: #1b2d6e;
$colorRojoFuerte: #92140C;
$colorAmarillo: #EAC435;
$colorAmarilloClaro: #f8cf3b;
$colorAmarilloTransparente: #eac335d2;
$colorBlanco: #FFFFFF;
$colorNegro: #0A090C;
// Fuente
$fuente: 'Baloo Chettan 2', cursive;